<h1><%= I18n.t('txt.forgot_password') %></h1>

请在下面输入您注册用户时使用的Email
<br/><br/>
<% form_tag password_resets_path, :method => :post do %>
  <%= text_field_tag "email" %>
<br/><br/>
  <%= submit_tag I18n.t 'txt.reset_password' %>
<% end %>