<!DOCTYPE  HTML  PUBLIC  "-//W3C//DTD  XHTML  1.0  Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Contact Us</title>
  </head>
  <body>
    <h1>Contact Us</h1>
    <p>say something!</p>
  </body>
</html>