<!DOCTYPE  HTML  PUBLIC  "-//W3C//DTD  XHTML  1.0  Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>资料下载</title>
  </head>
  <body>
    <h1>导入模板</h1>
    <p><%= link_to "合同导入模板", "/download/文件管理系统-合同.xls" %></p>
    <p><%= link_to "证照导入模板", "/download/文件管理系统-证照.xls" %> </p>
    <p><%= link_to "文档导入模板", "/download/文件管理系统-文档.xls" %> </p>
    <h1>文档</h1>
    <p><a href="/download/系统用户手册.doc">系统用户手册</a></p>
  </body>
</html>