<div>
  <%= render :active_scaffold => "ycrole_contracts" %>
</div>

<div>
  <%= render :active_scaffold => "ycrole_licenses" %>
</div>

<div>
  <%= render :active_scaffold => "ycrole_archives" %>
</div>

