<h1><%= I18n.t 'txt.edit_your_account_details' %></h1>
<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "account_panel", :locals => { :f  => f, :is_edit => true } %>
  <%= f.submit t 'general.update' %>
<% end %>

