<h1><%= I18n.t 'txt.fill_in_your_account_details' %></h1>
<% form_for @user, :url => { :action => 'create' } do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "account_panel", :locals => { :f  => f, :edit_mode => false } %>
  <%= f.submit t('general.submit'), :class => 'submit' %>
<% end %>



